<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
                type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RejectsApp2.Properties.ConnectionSettings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework"
           type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<applicationSettings>
		<RejectsApp2.Properties.ConnectionSettings>
   <setting name="connString" serializeAs="String">
    <value>data source= \\\\\\\\svr300-003\\smbd\\Rejects DB\\SQLTest\\Backend\\RejectsDB-SQL.sqlite</value>
   </setting>
   <setting name="scrapRepFile" serializeAs="String">
    <value>\\svr300-003\smbd\Rejects DB\SQLTest\Backend\ReportTemplates\ScrapReport.rdlc</value>
   </setting>
   <setting name="recRepFile" serializeAs="String">
    <value>\\svr300-003\smbd\Rejects DB\SQLTest\Backend\ReportTemplates\ReceivingMRB.rdlc</value>
   </setting>
   <setting name="openRepFile" serializeAs="String">
    <value>\\svr300-003\smbd\Rejects DB\SQLTest\Backend\ReportTemplates\OpenItems.rdlc</value>
   </setting>
   <setting name="productRepFile" serializeAs="String">
    <value>\\svr300-003\smbd\Rejects DB\SQLTest\Backend\ReportTemplates\ProductLineNon-Conformance.rdlc</value>
   </setting>
   <setting name="partNumRepFile" serializeAs="String">
    <value>\\svr300-003\smbd\Rejects DB\SQLTest\Backend\ReportTemplates\PartHistoryReport.rdlc</value>
   </setting>
   <setting name="endOfMonthBackup" serializeAs="String">
    <value>data source= \\\\\\\\svr300-003\smbd\Rejects DB\SQLTest\Backend\Backups\EndofMonthBackup\EMBackupRejectsDB-SQL.sqlite</value>
   </setting>
   <setting name="fridayBackup" serializeAs="String">
    <value>data source= \\\\\\\\svr300-003\smbd\Rejects DB\SQLTest\Backend\Backups\FridayBackup\FBackupRejectsDB-SQL.sqlite</value>
   </setting>
  </RejectsApp2.Properties.ConnectionSettings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient"
             type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite.EF6"
             type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
        description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
        type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite"
        description=".NET Framework Data Provider for SQLite"
        type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="mainEntities"
       connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;\\\\svr300-003\smbd\Rejects DB\SQLTest\Backend\RejectsDB-SQL.sqlite&quot;'"
       providerName="System.Data.EntityClient" />
		<add name="mainEntities1"
       connectionString="metadata=res://*/RejectDatabase.csdl|res://*/RejectDatabase.ssdl|res://*/RejectDatabase.msl;provider=System.Data.SQLite.EF6;provider connection string='data source=&quot;\\\\svr300-003\smbd\Rejects DB\SQLTest\Backend\RejectsDB-SQL.sqlite&quot;'"
       providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>