<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="RejectsApp2.Properties.ConnectionSettings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<applicationSettings>
		<RejectsApp2.Properties.ConnectionSettings>
			<setting name="connString" serializeAs="String">
				<value>data source= \\\\\\\\svr300-003\\smbd\\Rejects DB\\SQLTest\\Backend\\RejectsDB-SQL.sqlite;datetimeformat=CurrentCulture</value>
			</setting>
		</RejectsApp2.Properties.ConnectionSettings>
	</applicationSettings>
</configuration>